{
    "presets": ["@babel/env", "@babel/react"],
    "env": {
        "test": {
            "presets": ["@babel/react"],
            "plugins": ["@babel/transform-modules-commonjs"]
        }
    }
}
